.list-group-item {
  border: 1px solid lightgrey;
  color: black;
  cursor: pointer;
  text-decoration: none;
  //  transition-property: box-shadow, transform;
  //  transition-duration: 0.5s;
  //  transition: box-shadow 0.5s, transform 0.5s;
  transition: all 0.5s;
  &:hover {
    box-shadow: darkgray 0 10px 20px;
    transform: scale(1.02);
  }
  &:not(:last-child) {
    margin-bottom: 1.5em;
  }
}
